{% extends "base.html" %}
{% load static %}
{% block home %}
{% include "home_modules/stylist.html" %}
<div class="goto-here"></div>
{% include "home_modules/trending.html" %}
{% include "home_modules/fashion_shop.html" %}
{% include "home_modules/products.html" %}
{% include "home_modules/sales.html" %}
{% include "home_modules/testimony.html" %}
{% include "home_modules/blog.html" %}
{% include "home_modules/partners.html" %}
{% include "home_modules/services.html" %}
{% include "home_modules/subscribe.html" %}
{% endblock home %}