{% extends "base.html" %}
{% load static %}
{% block home %}
{% include "home_modules/stylist.html" %}
<div class="goto-here"></div>
{% include "home_modules/trending.html" %}
{% include "home_modules/fashion_shop.html" %}
{% include "home_modules/products.html" %}
{% include "home_modules/summersale.html" %}
{% include "home_modules/testimory.html" %}
{% include "home_modules/recent_blog.html" %}
{% include "home_modules/resulte.html" %}
{% include "home_modules/services.html" %}
{% include "home_modules/subscribe.html" %}
{% endblock home %}